.wrapper_card_1 {
    padding: 0 30px;
    .wrapper_card {
        .img {
            height: 250px;
        }
        .title {
            height: 24px;
            font-size: 18px;
        }
        .desc {
            font-size: 13px;
            text-align: justify;
            @media (max-width: 900px) {
                font-size: 15px;
            }
            @media (max-width: 500px) {
                font-size: 14px;
            }
        }
    }
}
.wrapper_card_2 {
    .wrapper_card {
        .img {
            padding: 0 10px;
            height: 170px;
        }
        .card_title {
            cursor: pointer;
        }
    }
}
